# netlify.toml 

[[redirects]]
  from = "/api/*"
  to = "https://newdesignbackend.vercel.app/:splat"  # <-- Sahi Syntax: Quotes aur :splat ke saath
  status = 200
  force = true

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200